@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  -webkit-box-shadow: 0px 10px 15px 0px rgba(214, 214, 214, 1);
  -moz-box-shadow: 0px 10px 15px 0px rgba(214, 214, 214, 1);
  box-shadow: 0px 10px 15px 0px rgba(214, 214, 214, 1);
}

nav ul {
  display: flex;
}

nav ul li {
  margin-left: 10px;
  padding: 10px 20px;
}

section {
  padding: 0 10%;
}

section:first-of-type {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  position: relative;
}

.intro {
  padding: 100px 0;
  width: 100%;
  background: #F8DDBD;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.intro .paging {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: calc( 50% - 48px);
  right: 15px;
}

.intro>div:not(.title) {
  margin-bottom: 50px;
}

.intro>img, .intro>.title {
  margin-bottom: 30px;
}

.overlay {
  position: absolute;
  background: url('images/homebg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  left: 10%;
  top: 30px;
  bottom: 0;
  right: 10%;
}

.title .details {
  font-family: 'Montserrat', sans-serif;
}

section .title {
  font-weight: 900;
  font-size: 250%;
}

section .details {
  font-weight: 500;
  font-size: 130%;
}

section .intro>.details {
  text-align: center;
}

.button {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 20px;
}

.intro .button, #bestWork~div .button {
  background: black;
  color: white;
}

.bigTitle {
  font-family: "Roboto", "sans-serif";
  font-size: 300%;
  font-weight: 300;
  padding: 90px 0 60px 0;
  text-align: center;
}

section .part {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin-bottom: 60px;
}

#sectionPart .part>div>img {
  display: block;
  width: 100%;
}

.text {
  padding-top: 10px;
  padding-right: 50px;
}

.text .details {
  margin-bottom: 5px;
}

.text .title, .text img {
  margin-bottom: 10px;
}

.partRight>.text {
  padding-left: 50px;
  padding-right: 0px;
}

.part .text .details {
  font-size: 170%;
  font-weight: 400;
}

.text .button {
  border: 1px solid #D9D9D9;
}

.text p {
  margin-bottom: 20px;
  color: #7B7B7B;
}

section:nth-of-type(2) {
  background: #F9FAF9;
}

section:not(:first-of-type) {
  padding-bottom: 40px;
}

#bestWork {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-bottom: 20px;
}

#bestWork>div>img {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

.buttonDiv {
  text-align: center;
}

.buttonDiv .button {
  color: white;
  background: black;
}

#bestTeam {
  background-color: #FFE2BD;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.arrow {
  width: 40px;
  height: 40px;
  background: transparent;
  transform: rotate(45deg);
}

.arrowLeft {
  border-bottom: 5px solid black;
  border-left: 5px solid black;
}

.arrowRight {
  border-top: 5px solid black;
  border-right: 5px solid black;
}

.contentDetails {
  width: calc(100% - 120px);
  display: flex;
  justify-content: space-around;
}

.contentDetails>div>* {
  margin-bottom: 20px;
}

.contentDetails img {
  display: block;
}

.contentDetails div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentDetails .title {
  font-size: 200%;
  font-weight: 900;
  letter-spacing: 1px;
}

.contentDetails .details, .partCol .details {
  font-size: 90%;
  font-weight: 500;
  color: grey;
}

#clientSays .part {
  grid-gap: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#clientSays .part>div:first-child {
  display: flex;
  justify-content: flex-end;
  padding-right: 40px;
}

.partCol {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.partCol>* {
  margin-bottom: 5px;
}

#clientSays .images {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

#clientSays .images img {
  margin: 5px;
  max-width: 200px;
  max-height: 100px;
  width: auto;
  height: auto;
}

#contactSection {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('images/tuchbg.jpg');
  background-size: cover;
  color: white;
}

#contactSection .contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.contactDetails {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contactDetails i {
  margin-right: 20px;
  padding: 5px;
  font-size: 150%;
}

.mg-lf {
  margin-left: 3px;
}

.contact .icon i {
  background: white;
  color: black;
  border-radius: 50%;
}

.contact .icon i:not(:first-child) {
  padding: 10px;
}

.contact .icon i:first-child {
  padding: 10px 16px;
}

.inputDiv {
  margin-bottom: 40px;
}

.inputDiv input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 5px 0;
  font-size: 130%;
  background: transparent;
  color: white;
  border: 0;
  outline: 0;
  border-bottom: 2px solid #606060;
}

.inputDiv .button {
  background: white;
  color: black;
  margin-top: 80px;
}

.paging {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.circle {
  width: 12px;
  height: 12px;
  background: white;
  border: 3px solid black;
  border-radius: 50%;
  margin: 5px;
}

.circle:first-child {
  background: black;
}

.diamond {
  width: 12px;
  height: 12px;
  border: 1px solid black;
  background: white;
  margin: 10px;
  transform: rotate(45deg);
}

.diamond:first-child {
  background: white;
  border: none;
}

@media (max-width:900px) {
  nav {
    padding: 20px 5%;
  }
  section {
    padding: 0 5%;
  }
  .overlay {
    left: 5%;
    right: 5%;
  }
  #clientSays .images img {
    max-width: 150px;
    max-height: 60px;
  }
}

@media (max-width:755px) {
  nav ul li {
    margin-left: 5px;
    padding: 5px 10px;
  }
}

@media (max-width:650px) {
  section .part {
    grid-template-columns: 1fr;
  }
  section .res-change {
    grid-template-areas: "picture""text";
  }
  section .res-change .partLeft {
    grid-area: text;
  }
  .text {
    padding-right: 0px;
  }
  .partRight>.text {
    padding-left: 0px;
  }
  #contactSection .contact {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 60px;
  }
  #clientSays .images img {
    max-width: 100px;
    max-height: 50px;
  }
}

@media (max-width:600px) {
  nav {
    padding: 20px 30px;
  }
  section {
    padding: 0 15px;
  }
  .overlay {
    left: 15px;
    right: 15px;
  }
  nav {
    font-size: 85%;
  }
  .contentDetails .title, .partCol .title {
    font-size: 150%;
  }
}

@media (max-width:540px) {
  body{
    font-size:90%;
  }
  nav ul{
    display:none;
  }
  #bestWork {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    margin-bottom: 20px;
}

.contentDetails {
  flex-direction: column;
}

.contentDetails>div {
  margin-bottom:5px;
}
}

@media (max-width:450px){
  #clientSays .images {
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

#clientSays .images img {
    max-width: 250px;
    max-height: 150px;
}
}
